
@charset "utf-8";
*{margin: 0; padding: 0; }
ul{ list-style: none;}
a{text-decoration: none; color: #000;}

.hidden{
    display: none;
}

#clock{
    text-align: end;
    margin: 20px;
}

.main{
    width: 1200px;
    padding-top:300px;
    margin: 0 auto;
    text-align: center;
}

.main form input{
    border: none;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
}

.main form input:first-child{
    margin-bottom: 20px;
}

.desc{
    text-align: center;
}

.desc #quote{
    margin-top: 50px;
    font-size: 20px;
}

.desc #weather{
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
}

img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity: 0.8;
    }